@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>This ASP.NET Core MVC App will be deployed to Azure-v7.0 - LOCAL GIT</h2>
    <h3>Production</h3>
    <h4>DB Connection String: @ViewBag.Connstring</h4>
</div>
